<%= form_for @pokemon, :html => {:multipart => true} do |f| %>


      <%= link_to 'Pokemon List', pokemons_path, class:"button_link left"%>
      <%= f.submit :Save,class:"button_link right" %>
      <div class="pokemon_form_main">
        <p>
          <%= f.file_field :image %>
        </p>

        <p>Pokemon</p>
        <center><%= f.text_field :pokename %></center>

        <p>Types</p>
          <%= f.text_field :poketype1 %>
          <%= f.text_field :poketype2 %>

        <p>Moves</p>
          <%= f.text_field :pokemove1 %>
          <%= f.text_field :pokemove2 %>
          <%= f.text_field :pokemove3 %>
          <%= f.text_field :pokemove4 %>

        <p>Weakness</p>
          <%= f.text_field :pokeweakness1 %>
          <%= f.text_field :pokeweakness2 %>
      </div>
  <% end %>
