<p>
  <strong>Name:</strong>
  <%= @pokemon.pokename %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pokemon.poketype %>
</p>

<p>
  <strong>Moves:</strong>
  <%= @pokemon.pokemoves %>
</p>

<p>
  <strong>Weaknesses:</strong>
  <%= @pokemon.pokeweaknesses %>
</p>

<%= link_to 'Back', pokemons_path %>
