<p>
  <%= image_tag @pokemon.image_url(:thumb).to_s %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.pokename %>
</p>

<p>
  <strong>Type 1:</strong>
  <%= @pokemon.poketype1 %>
</p>

<p>
  <strong>Type 2:</strong>
  <%= @pokemon.poketype2 %>
</p>

<p>
  <strong>Moves 1:</strong>
  <%= @pokemon.pokemove1 %>
</p>

<p>
  <strong>Moves 2:</strong>
  <%= @pokemon.pokemove2 %>
</p>

<p>
  <strong>Move 3:</strong>
  <%= @pokemon.pokemove3 %>
</p>

<p>
  <strong>Move 4:</strong>
  <%= @pokemon.pokemove4 %>
</p>

<p>
  <strong>Weakness 1:</strong>
  <%= @pokemon.pokeweakness1 %>
</p>

<p>
  <strong>Weakness 2:</strong>
  <%= @pokemon.pokeweakness2 %>
</p>
<%= link_to 'Back', pokemons_path %>
